__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.swp
*.pt
*.out
*.err
.DS_Store
.vscode/
logs/
experiments/meta-world/runs/
experiments/meta-world/agents/
experiments/meta-world/models/__pycache__/
experiments/meta-world/wandb/
*.mp4
experiments/meta-world/videos/
Trash/